img{
	width: 183px;
	height: 183px;
	margin: 10px 5px;
	border: 3px orange solid;
	opacity: 0.50;

}


div{
	padding: 50px 100px 10px 250px;
}

h4{
	font-family: verdana;
}

hr{
	background-color: black;
	width: 85px;
	height: 10px;
	margin-left: 0%;
}

.caption{
position: relative;
padding: 0px;


}

.caption img {
width: 183px;
height: 183px;
display: inline-block;
padding: 0;
border: 0;
border: 3px orange solid;
}


.caption::before {
content: attr(title);
position: absolute;
color: gray;
font-size: 20px;
font-family: arial;
right: 0;
bottom: 0;
left: 0;
text-align: center;
z-index: 1;
padding: 0;
width: 183px;
height: 40px;
margin: 10px 5px;

	
	
}


